<h1>Campgrounds</h1>

<ol>

  <% camps.forEach(camp => { %>
    <div>
      <h4> <%= camp.name %> </h4>
      <img src="<%= camp.image %>" alt="">

    </div>
  <% }) %>



</ol>

<a href="/">Home</a>
